{#
/**
 * @file component.html.twig
 * Default theme implementation to present Component data.
 *
 * This template is used when viewing Component pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - type: The bundle machine name of the component.
 * - order: Zero indexed position of component in page (not per region)
 * 
 * @see template_preprocess_component()
 *
 * @ingroup themeable
 */
#}
<section{{ attributes.addClass('component').addClass(type|clean_class) }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</section>
