{#
/**
 * @file
 * Default theme implementation to present a list of custom content entity types/bundles.
 *
 * Available variables:
 * - types: A collection of all the available custom entity types/bundles.
 *   Each type/bundle contains the following:
 *   - link: A link to add a content entity of this type.
 *   - description: A description of this content entity types/bundle.
 *
 * @see template_preprocess_component_content_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <ul class='admin-list'>
    {% for type in types %}
      <li class="clearfix">
        <a href="{{ type.link }}">
          <span class="label">{{ type.title }}</span>
          <div class="description">{{ type.description }}</div>
        </a>
      </li>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% set create_content = path('component_type.type_add') %}
    {% trans %}
      You have not created any component types yet. Go to the <a href="{{ create_content }}">component type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}
