{#
/**
 * @file admin_entity.html.twig
 * Default theme implementation to present Admin Entity data.
 *
 * This template is used when viewing Admin Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_admin_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('admin_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
