/**
 * @file
 * This file is used to style the breadcrumbs.
 */
.breadcrumb {
  padding: 0.79rem 1.266rem;
}
.breadcrumb li {
  display: inline-block;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  .breadcrumb {
    padding-left: 2.37rem;
    padding-right: 2.37rem;
  }
}
