/**
 * @file
 * This file is used to style the 'highlighted-bottom' view mode.
 */

.node--view-mode-highlighted-bottom {
  border: 1px solid #fcece7;
  width: 100%;
}

.node--view-mode-highlighted-bottom .node__meta {
  padding: 1.5rem;
}

.node--view-mode-highlighted-bottom .node__title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.node--view-mode-highlighted-bottom .field--name-title {
  font-family: 'Scope One', Georgia, serif;
  font-size: 1.424rem;
  font-weight: 400;
}

.node--view-mode-highlighted-bottom .node__title .node__link {
  background-color: inherit;
  color: #000;
  text-decoration: none;
}

.node--view-mode-highlighted-bottom .node__title .node__link:focus,
.node--view-mode-highlighted-bottom .node__title .node__link:hover {
  color: #000;
  text-decoration: underline;
}

.node--view-mode-highlighted-bottom .node__link .field--name-title {
  color: #000;
  text-decoration: none;
}

.node--view-mode-highlighted-bottom .field--name-field-image img {
  width: 100%;
}

.node--view-mode-highlighted-bottom .field--name-field-difficulty {
  color: #5f635d;
  font-size: 0.889rem;
  margin-bottom: 0.5rem;
}
