/**
 * @file
 * Styles used by the Update Manager module.
 */

.project-update__title {
  font-weight: bold;
  font-size: 110%;
}
.project-update__status {
  float: right; /* LTR */
  font-size: 110%;
}
[dir="rtl"] .project-update__status {
  float: left;
}
.project-update__status--not-supported {
  float: left; /* LTR */
}
[dir="rtl"] .project-update__status--not-supported {
  float: right;
}
.project-update__status--security-error {
  font-weight: bold;
  color: #970f00;
}

.project-update__status-icon {
  padding-left: 0.5em; /* LTR */
}
[dir="rtl"] .project-update__status-icon {
  padding-left: 0;
  padding-right: 0.5em;
}
.project-update__details {
  padding: 1em 1em 0.25em 1em;
}

.project-update__version {
  padding: 1em 0;
}
.project-update__version-date {
  white-space: nowrap;
}
.project-update__version-details {
  padding-right: 0.5em; /* LTR */
}
[dir="rtl"] .project-update__version-details {
  padding-left: 0.5em;
  direction: ltr; /* Version numbers should always be LTR. */
}
.project-update__version-links {
  text-align: right; /* LTR */
  padding-right: 1em; /* LTR */
  list-style-type: none;
}
[dir="rtl"] .project-update__version-links {
  text-align: left;
  padding-left: 1em;
}
.project-update__version--recommended-strong .project-update__version-title {
  font-weight: bold;
}
