{#
/**
 * @file
 * Theme override for a 3x3 grid of checkboxes for image anchors.
 *
 * Available variables:
 * - table: HTML for the table of image anchors.
 *
 * @see template_preprocess_image_anchor()
 */
#}
{{ table }}
