.ajax-progress{display:inline-block;padding:1px 5px 2px 5px;}[dir="rtl"] .ajax-progress{float:right;}.ajax-progress-throbber .throbber{background:transparent url(/core/themes/stable/images/core/throbber-active.gif) no-repeat 0 center;display:inline;padding:1px 5px 2px;}.ajax-progress-throbber .message{display:inline;padding:1px 5px 2px;}tr .ajax-progress-throbber .throbber{margin:0 2px;}.ajax-progress-bar{width:16em;}.ajax-progress-fullscreen{left:49%;position:fixed;top:48.5%;z-index:1000;background-color:#232323;background-image:url(/core/themes/stable/images/core/loading-small.gif);background-position:center center;background-repeat:no-repeat;border-radius:7px;height:24px;opacity:0.9;padding:4px;width:24px;}[dir="rtl"] .ajax-progress-fullscreen{left:auto;right:49%;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-left:auto;margin-right:auto;}
.js input.form-autocomplete{background-image:url(/core/themes/stable/images/core/throbber-inactive.png);background-position:100% center;background-repeat:no-repeat;}.js[dir="rtl"] input.form-autocomplete{background-position:0% center;}.js input.form-autocomplete.ui-autocomplete-loading{background-image:url(/core/themes/stable/images/core/throbber-active.gif);background-position:100% center;}.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading{background-position:0% center;}
.fieldgroup{border-width:0;padding:0;}
.container-inline div,.container-inline label{display:inline;}.container-inline .details-wrapper{display:block;}
.clearfix:after{content:"";display:table;clear:both;}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;width:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;width:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{background-color:#fff;border:1px solid;margin-top:5px;max-width:100%;min-width:100px;height:16px;}.progress__bar{background-color:#000;height:1.5em;width:3%;min-width:3%;max-width:100%;}.progress__description,.progress__percentage{color:#555;overflow:hidden;font-size:0.875em;margin-top:0.2em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 none;background:transparent;padding:0;margin:0;line-height:inherit;}
.resize-none{resize:none;}.resize-vertical{resize:vertical;min-height:2em;}.resize-horizontal{resize:horizontal;max-width:100%;}.resize-both{resize:both;max-width:100%;min-height:2em;}
table.sticky-header{background-color:#fff;margin-top:0;z-index:500;top:0;}
.system-status-counter__status-icon{display:inline-block;height:25px;width:25px;vertical-align:middle;}.system-status-counter__status-icon:before{content:"";background-size:20px;background-position:center 2px;background-repeat:no-repeat;display:block;}.system-status-counter__status-icon--error:before{background-image:url(/core/themes/stable/images/core/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/themes/stable/images/core/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/themes/stable/images/core/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);margin-bottom:0.5em;}@media screen and (min-width:60em){.system-status-report-counters{flex-wrap:wrap;display:flex;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{border:1px solid #ccc;margin-top:1em;padding:0 1em 1em;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
body.drag{cursor:move;}tr.region-title{font-weight:bold;}tr.region-message{color:#999;}tr.region-populated{display:none;}tr.add-new .tabledrag-changed{display:none;}.draggable a.tabledrag-handle{cursor:move;float:left;height:1.7em;margin-left:-1em;overflow:hidden;text-decoration:none;}[dir="rtl"] .draggable a.tabledrag-handle{float:right;margin-right:-1em;margin-left:0;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{background:url(/core/themes/stable/images/core/icons/787878/move.svg) no-repeat 6px 7px;height:14px;margin:-0.4em 0.5em 0;padding:0.42em 0.5em;width:14px;}a.tabledrag-handle:hover .handle,a.tabledrag-handle:focus .handle{background-image:url(/core/themes/stable/images/core/icons/000000/move.svg);}.touchevents .draggable td{padding:0 10px;}.touchevents .draggable .menu-item__link{display:inline-block;padding:10px 0;}.touchevents a.tabledrag-handle{height:44px;width:40px;}.touchevents a.tabledrag-handle .handle{background-position:40% 19px;height:21px;}[dir="rtl"] .touch a.tabledrag-handle .handle{background-position:right 40% top 19px;}.touchevents .draggable.drag a.tabledrag-handle .handle{background-position:50% -32px;}.tabledrag-toggle-weight-wrapper{text-align:right;}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left;}.indentation{float:left;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;width:20px;}[dir="rtl"] .indentation{float:right;margin:-0.4em -0.4em -0.4em 0.2em;padding:0.42em 0.6em 0.42em 0;}
.tablesort{width:16px;height:16px;display:inline-block;background-size:100%;}.tablesort--asc{background-image:url(/core/themes/stable/images/core/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/themes/stable/images/core/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/themes/stable/images/core/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/themes/stable/images/core/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/themes/stable/images/core/tree.png) no-repeat -11px center;}
#toolbar-administration,#toolbar-administration *{box-sizing:border-box;}#toolbar-administration{font-size:small;line-height:1;margin:0;padding:0;vertical-align:baseline;}@media print{#toolbar-administration{display:none;}}.toolbar-loading #toolbar-administration{overflow:hidden;}.toolbar li,.toolbar .item-list,.toolbar .item-list li,.toolbar .menu-item,.toolbar .menu-item--expanded{list-style-type:none;list-style-image:none;}.toolbar .menu-item{padding-top:0;}.toolbar .toolbar-bar .toolbar-tab,.toolbar .menu-item{display:block;}.toolbar .toolbar-bar .toolbar-tab.hidden{display:none;}.toolbar a{display:block;line-height:1;}.toolbar .toolbar-bar,.toolbar .toolbar-tray{position:relative;z-index:1250;}.toolbar-horizontal .toolbar-tray{position:fixed;width:100%;left:0;}.toolbar-oriented .toolbar-bar{left:0;position:absolute;right:0;top:0;}.toolbar-oriented .toolbar-tray{left:0;position:absolute;right:0;}@media (min-width:61em){.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray{position:relative;display:block;z-index:-999;visibility:hidden;width:1px;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray .toolbar-lining{width:999em;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .home-toolbar-tab + .toolbar-tab .toolbar-tray{display:block;}}.toolbar-oriented .toolbar-bar{z-index:502;}body.toolbar-fixed .toolbar-oriented .toolbar-bar{position:fixed;}body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented{bottom:0;width:240px;width:15rem;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}@media only screen{.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:none;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:none;}}@media (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}}.toolbar-oriented .toolbar-bar .toolbar-tab,.toolbar-oriented .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-oriented .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal li{float:right;}.toolbar .toolbar-tray{display:none;z-index:501;}.toolbar-oriented .toolbar-tray-vertical{left:-100%;position:absolute;width:240px;width:15rem;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical{left:auto;right:-100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining{min-height:100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining:before{width:100%;}.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before{bottom:0;content:'';display:block;left:0;position:fixed;top:0;width:240px;width:14rem;z-index:-1;}[dir="rtl"] .toolbar .toolbar-tray-vertical > .toolbar-lining:before{left:auto;right:0;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{position:relative;z-index:502;}.toolbar-oriented .toolbar-tray-horizontal .menu-item ul{display:none;}.toolbar .toolbar-tray-vertical.is-active,body.toolbar-fixed .toolbar .toolbar-tray-vertical{height:100%;overflow-x:hidden;overflow-y:auto;position:fixed;}.toolbar .toolbar-tray.is-active{display:block;}.toolbar-oriented .toolbar-tray-vertical.is-active{left:0;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical.is-active{left:auto;right:0;}body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:240px;margin-left:15rem;}@media print{body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:0;}}[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:auto;margin-right:240px;margin-right:15rem;}@media print{[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-right:0;}}.toolbar .toolbar-tray .toolbar-toggle-orientation{display:none;}.toolbar-oriented .toolbar-tray .toolbar-toggle-orientation{display:block;}.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{bottom:0;position:absolute;right:0;top:auto;}[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{left:0;right:auto;}.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:right;width:100%;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:left;}.toolbar .toolbar-bar .home-toolbar-tab{display:none;}.path-admin .toolbar-bar .home-toolbar-tab{display:block;}
.toolbar .toolbar-menu,[dir="rtl"] .toolbar .toolbar-menu{list-style:none;margin:0;padding:0;}.toolbar .toolbar-box{display:block;line-height:1em;position:relative;width:auto;}.toolbar .toolbar-tray-vertical .toolbar-menu ul{display:none;}.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-handle{display:none;}.toolbar-tray-open .toolbar-menu .menu-item--expanded ul{display:none;}.toolbar .toolbar-tray-vertical li.open > ul{display:block;}.toolbar .toolbar-tray-vertical .toolbar-handle + a{margin-right:3em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-handle + a{margin-left:3em;margin-right:0;}.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,.toolbar .toolbar-tray a.is-active{color:#000;font-weight:bold;}@media screen and (max-width:319px){.toolbar .toolbar-tray-vertical.is-active{width:100%;}}.toolbar .level-2 > ul{background-color:#fafafa;border-bottom-color:#ccc;border-top-color:#e5e5e5;}.toolbar .level-3 > ul{background-color:#f5f5f5;border-bottom-color:#c5c5c5;border-top-color:#ddd;}.toolbar .level-4 > ul{background-color:#eee;border-bottom-color:#bbb;border-top-color:#d5d5d5;}.toolbar .level-5 > ul{background-color:#e5e5e5;border-bottom-color:#b5b5b5;border-top-color:#ccc;}.toolbar .level-6 > ul{background-color:#eee;border-bottom-color:#aaa;border-top-color:#c5c5c5;}.toolbar .level-7 > ul{background-color:#fafafa;border-bottom-color:#b5b5b5;border-top-color:#ccc;}.toolbar .level-8 > ul{background-color:#ddd;border-bottom-color:#ccc;border-top-color:#ddd;}.toolbar .toolbar-handle:hover{cursor:pointer;}.toolbar .toolbar-icon.toolbar-handle{bottom:0;display:block;height:100%;padding:0;position:absolute;right:0;top:0;z-index:1;}[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle{left:0;padding:0;right:auto;}
.paragraph--unpublished{background-color:#fff4f4;}
.toolbar{font-family:"Source Sans Pro","Lucida Grande",Verdana,sans-serif;font-size:0.8125rem;-moz-tap-highlight-color:rgba(0,0,0,0);-o-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);-moz-touch-callout:none;-o-touch-callout:none;-webkit-touch-callout:none;touch-callout:none;}.toolbar .toolbar-item{cursor:pointer;padding:1em 1.3333em;line-height:1em;text-decoration:none;}.toolbar .toolbar-item:hover,.toolbar .toolbar-item:focus{text-decoration:underline;}.toolbar .toolbar-bar{background-color:#0f0f0f;box-shadow:-1px 0 3px 1px rgba(0,0,0,0.3333);color:#ddd;}[dir="rtl"] .toolbar .toolbar-bar{box-shadow:1px 0 3px 1px rgba(0,0,0,0.3333);}.toolbar .toolbar-bar .toolbar-item{color:#fff;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item{font-weight:bold;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover,.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus{background-image:-webkit-linear-gradient(rgba(255,255,255,0.125) 20%,transparent 200%);background-image:linear-gradient(rgba(255,255,255,0.125) 20%,transparent 200%);}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active{background-image:-webkit-linear-gradient(rgba(255,255,255,0.25) 20%,transparent 200%);background-image:linear-gradient(rgba(255,255,255,0.25) 20%,transparent 200%);}.toolbar .toolbar-tray{background-color:#fff;}.toolbar-horizontal .toolbar-tray > .toolbar-lining{padding-right:5em;}[dir="rtl"] .toolbar-horizontal .toolbar-tray > .toolbar-lining{padding-right:0;padding-left:5em;}.toolbar .toolbar-tray-vertical{background-color:#f5f5f5;border-right:1px solid #aaa;box-shadow:-1px 0 5px 2px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar .toolbar-tray-vertical{border-left:1px solid #aaa;border-right:0 none;box-shadow:1px 0 5px 2px rgba(0,0,0,0.3333);}.toolbar-horizontal .toolbar-tray{border-bottom:1px solid #aaa;box-shadow:-2px 1px 3px 1px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar-horizontal .toolbar-tray{box-shadow:2px 1px 3px 1px rgba(0,0,0,0.3333);}.toolbar .toolbar-tray-horizontal .toolbar-tray{background-color:#f5f5f5;}.toolbar-tray a{color:#565656;cursor:pointer;padding:1em 1.3333em;text-decoration:none;}.toolbar-tray a:hover,.toolbar-tray a:active,.toolbar-tray a:focus,.toolbar-tray a.is-active{color:#000;text-decoration:underline;}.toolbar .toolbar-menu{background-color:#fff;}.toolbar-horizontal .toolbar-tray .menu-item + .menu-item{border-left:1px solid #ddd;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item + .menu-item{border-left:0 none;border-right:1px solid #ddd;}.toolbar-horizontal .toolbar-tray .menu-item:last-child{border-right:1px solid #ddd;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item:last-child{border-left:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item + .menu-item{border-top:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item:last-child{border-bottom:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item .menu-item{border:0 none;}.toolbar .toolbar-tray-vertical .toolbar-menu ul ul{border-bottom:1px solid #ddd;border-top:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item:last-child > ul{border-bottom:0;}.toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{margin-left:0.25em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{margin-left:0;margin-right:0.25em;}.toolbar .toolbar-menu .toolbar-menu a{color:#434343;}.toolbar .toolbar-toggle-orientation{background-color:#f5f5f5;padding:0;height:100%;}.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{border-left:1px solid #c9c9c9;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{border-left:0 none;border-right:1px solid #c9c9c9;}.toolbar .toolbar-toggle-orientation > .toolbar-lining{float:right;}[dir="rtl"] .toolbar .toolbar-toggle-orientation > .toolbar-lining{float:left;}.toolbar .toolbar-toggle-orientation button{cursor:pointer;display:inline-block;}
.toolbar .toolbar-icon{padding-left:2.75em;position:relative;}[dir="rtl"] .toolbar .toolbar-icon{padding-left:1.3333em;padding-right:2.75em;}.toolbar .toolbar-icon:before{background-attachment:scroll;background-color:transparent;background-position:center center;background-repeat:no-repeat;background-size:100% auto;content:'';display:block;height:100%;left:0.6667em;position:absolute;top:0;width:20px;}[dir="rtl"] .toolbar .toolbar-icon:before{left:auto;right:0.6667em;}.toolbar button.toolbar-icon{background-color:transparent;border:0;font-size:1em;}.toolbar .toolbar-menu ul .toolbar-icon{padding-left:1.3333em;}[dir="rtl"] .toolbar .toolbar-menu ul .toolbar-icon{padding-left:0;padding-right:1.3333em;}.toolbar .toolbar-menu ul a.toolbar-icon:before{display:none;}.toolbar .toolbar-tray-vertical .toolbar-menu ul a{padding-left:2.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul a{padding-left:0;padding-right:2.75em;}.toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{padding-left:3.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{padding-left:0;padding-right:3.75em;}.toolbar .toolbar-tray-vertical .toolbar-menu a{padding-left:2.75em;padding-right:4em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu a{padding-left:4em;padding-right:2.75em;}.toolbar-bar .toolbar-icon-menu:before{background-image:url(/core/themes/stable/images/core/icons/bebebe/hamburger.svg);}.toolbar-bar .toolbar-icon-menu:active:before,.toolbar-bar .toolbar-icon-menu.is-active:before{background-image:url(/core/themes/stable/images/core/icons/ffffff/hamburger.svg);}.toolbar-bar .toolbar-icon-help:before{background-image:url(/core/themes/stable/images/core/icons/bebebe/questionmark-disc.svg);}.toolbar-bar .toolbar-icon-help:active:before,.toolbar-bar .toolbar-icon-help.is-active:before{background-image:url(/core/themes/stable/images/core/icons/ffffff/questionmark-disc.svg);}.toolbar-icon-system-admin-content:before{background-image:url(/core/themes/stable/images/core/icons/787878/file.svg);}.toolbar-icon-system-admin-content:active:before,.toolbar-icon-system-admin-content.is-active:before{background-image:url(/core/themes/stable/images/core/icons/000000/file.svg);}.toolbar-icon-system-admin-structure:before{background-image:url(/core/themes/stable/images/core/icons/787878/orgchart.svg);}.toolbar-icon-system-admin-structure:active:before,.toolbar-icon-system-admin-structure.is-active:before{background-image:url(/core/themes/stable/images/core/icons/000000/orgchart.svg);}.toolbar-icon-system-themes-page:before{background-image:url(/core/themes/stable/images/core/icons/787878/paintbrush.svg);}.toolbar-icon-system-themes-page:active:before,.toolbar-icon-system-themes-page.is-active:before{background-image:url(/core/themes/stable/images/core/icons/000000/paintbrush.svg);}.toolbar-icon-entity-user-collection:before{background-image:url(/core/themes/stable/images/core/icons/787878/people.svg);}.toolbar-icon-entity-user-collection:active:before,.toolbar-icon-entity-user-collection.is-active:before{background-image:url(/core/themes/stable/images/core/icons/000000/people.svg);}.toolbar-icon-system-modules-list:before{background-image:url(/core/themes/stable/images/core/icons/787878/puzzlepiece.svg);}.toolbar-icon-system-modules-list:active:before,.toolbar-icon-system-modules-list.is-active:before{background-image:url(/core/themes/stable/images/core/icons/000000/puzzlepiece.svg);}.toolbar-icon-system-admin-config:before{background-image:url(/core/themes/stable/images/core/icons/787878/wrench.svg);}.toolbar-icon-system-admin-config:active:before,.toolbar-icon-system-admin-config.is-active:before{background-image:url(/core/themes/stable/images/core/icons/000000/wrench.svg);}.toolbar-icon-system-admin-reports:before{background-image:url(/core/themes/stable/images/core/icons/787878/barchart.svg);}.toolbar-icon-system-admin-reports:active:before,.toolbar-icon-system-admin-reports.is-active:before{background-image:url(/core/themes/stable/images/core/icons/000000/barchart.svg);}.toolbar-icon-help-main:before{background-image:url(/core/themes/stable/images/core/icons/787878/questionmark-disc.svg);}.toolbar-icon-help-main:active:before,.toolbar-icon-help-main.is-active:before{background-image:url(/core/themes/stable/images/core/icons/000000/questionmark-disc.svg);}@media only screen and (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{margin-left:0;margin-right:0;padding-left:0;padding-right:0;text-indent:-9999px;width:4em;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:42% auto;left:0;width:100%;}.no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:auto auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{left:auto;right:0;}}@media only screen and (min-width:36em){.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{background-position:left center;padding-left:2.75em;padding-right:1.3333em;text-indent:0;width:auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{background-position:right center;padding-left:1.3333em;padding-right:2.75em;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:100% auto;left:0.6667em;width:20px;}.no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:auto auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{left:0;right:0.6667em;}}.toolbar-tab a:focus{outline:none;text-decoration:underline;}.toolbar-lining button:focus{outline:none;}.toolbar-tray-horizontal a:focus,.toolbar-box a:focus{outline:none;background-color:#f5f5f5;}.toolbar-box a:hover:focus{text-decoration:underline;}.toolbar .toolbar-icon.toolbar-handle:focus{outline:none;background-color:#f5f5f5;}.toolbar .toolbar-icon.toolbar-handle{width:4em;text-indent:-9999px;}.toolbar .toolbar-icon.toolbar-handle:before{left:1.6667em;}[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle:before{left:auto;right:1.6667em;}.toolbar .toolbar-icon.toolbar-handle:before{background-image:url(/core/themes/stable/images/core/icons/5181c6/chevron-disc-down.svg);}.toolbar .toolbar-icon.toolbar-handle.open:before{background-image:url(/core/themes/stable/images/core/icons/787878/chevron-disc-up.svg);}.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:before{background-image:url(/core/themes/stable/images/core/icons/5181c6/twistie-down.svg);background-size:75%;}.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open:before{background-image:url(/core/themes/stable/images/core/icons/787878/twistie-up.svg);background-size:75%;}.toolbar .toolbar-icon-escape-admin:before{background-image:url(/core/themes/stable/images/core/icons/bebebe/chevron-disc-left.svg);}[dir="rtl"] .toolbar .toolbar-icon-escape-admin:before{background-image:url(/core/themes/stable/images/core/icons/bebebe/chevron-disc-right.svg);}.toolbar .toolbar-toggle-orientation button{height:39px;padding:0;text-indent:-999em;width:39px;}.toolbar .toolbar-toggle-orientation button:before{left:0;right:0;margin:0 auto;}[dir="rtl"] .toolbar .toolbar-toggle-orientation .toolbar-icon{padding:0;}.toolbar .toolbar-toggle-orientation [value="vertical"]:before{background-image:url(/core/themes/stable/images/core/icons/bebebe/push-left.svg);}.toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,.toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before{background-image:url(/core/themes/stable/images/core/icons/787878/push-left.svg);}[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:before{background-image:url(/core/themes/stable/images/core/icons/bebebe/push-right.svg);}[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before{background-image:url(/core/themes/stable/images/core/icons/787878/push-right.svg);}.toolbar .toolbar-toggle-orientation [value="horizontal"]:before{background-image:url(/core/themes/stable/images/core/icons/bebebe/push-up.svg);}.toolbar .toolbar-toggle-orientation [value="horizontal"]:hover:before,.toolbar .toolbar-toggle-orientation [value="horizontal"]:focus:before{background-image:url(/core/themes/stable/images/core/icons/787878/push-up.svg);}
.toolbar-bar .toolbar-icon-user:before{background-image:url(/core/themes/stable/images/core/icons/bebebe/person.svg);}.toolbar-bar .toolbar-icon-user:active:before,.toolbar-bar .toolbar-icon-user.is-active:before{background-image:url(/core/themes/stable/images/core/icons/ffffff/person.svg);}
.toolbar-tray-horizontal .menu-item:hover{background:#fff;}.toolbar-tray-horizontal .menu-item a:focus{background:#abeae4;}.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus{background-position:center right;background-image:url(/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-right.svg);background-repeat:no-repeat;}.toolbar-tray-horizontal .menu-item--expanded .menu{background:#fff;width:auto;height:auto;}.toolbar-tray-horizontal .menu-item--expanded{background-color:#f5f5f2;}.toolbar-tray-horizontal ul li li.menu-item{border-top:none transparent;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;}.toolbar .toolbar-tray-horizontal .menu-item:last-child{border-left:1px solid #dddddd;border-right:1px solid #dddddd;}.toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child{border-top:1px solid #dddddd;}.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul{display:none;left:-999em;}.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,.toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul{display:block;left:auto;}.toolbar-tray-horizontal .menu ul li a,.toolbar-tray-horizontal .menu ul .toolbar-icon{padding:12px 15px 12px 12px;}.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul{display:block;position:absolute;width:200px;box-shadow:2px 2px 3px hsla(0,0%,0%,0.4);z-index:1;}.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul{display:none;}.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded{background-position:center right;background-image:url(/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-right.svg);background-repeat:no-repeat;}.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul{display:block;margin:-40px 0 0 197px;}.toolbar-tray-horizontal li:hover ul li{float:none;}.toolbar-tray-horizontal li.hover-intent ul li{float:none;}.toolbar-tray-horizontal .toolbar .level-2 > ul{position:absolute;padding-top:0;top:0;left:200px;width:200px;}.toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix{display:block;}[dir="rtl"] .toolbar-tray-horizontal .menu-item:hover{background:#fff;}[dir="rtl"] .toolbar-tray-horizontal .menu-item a:focus{background:#abeae4;}[dir="rtl"] .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus{background-position:center right;background-image:url(/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-right.svg);background-repeat:no-repeat;}[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded .menu{background:#fff;width:auto;height:auto;}[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded{background-color:#f5f5f2;}[dir="rtl"] .toolbar-tray-horizontal ul li li.menu-item{border-top:none transparent;border-right:1px solid #dddddd;border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;}[dir="rtl"] .toolbar .toolbar-tray-horizontal .menu-item:last-child{border-left:1px solid #dddddd;border-right:1px solid #dddddd;}[dir="rtl"] .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child{border-top:1px solid #dddddd;}[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul{display:none;left:-999em;}[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,[dir="rtl"] .toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,[dir="rtl"] .toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,[dir="rtl"] .toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,[dir="rtl"] .toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul{display:block;left:auto;}[dir="rtl"] .toolbar-tray-horizontal .menu ul li a,[dir="rtl"] .toolbar-tray-horizontal .menu ul .toolbar-icon{padding:12px 15px 12px 12px;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul{display:block;position:absolute;width:200px;box-shadow:2px 2px 3px hsla(0,0%,0%,0.4);z-index:1;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul{display:none;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded{background-position:center left;background-image:url(/modules/contrib/admin_toolbar/misc/icons/0074bd/chevron-left.svg);background-repeat:no-repeat;}[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul{display:block;margin:-40px 197px 0 0;}[dir="rtl"] .toolbar-tray-horizontal li:hover ul li{float:none;}[dir="rtl"] .toolbar-tray-horizontal li.hover-intent ul li{float:none;}[dir="rtl"] .toolbar-tray-horizontal .toolbar .level-2 > ul{position:absolute;padding-top:0;top:0;left:200px;width:200px;}[dir="rtl"] .toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix{display:block;}
