.redirect-table {
  table-layout: fixed;
}

.redirect-table__operations {
  width: 30%;
}

.redirect-table__path {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
