/**
 * @file
 * This file is used to style the 'highlighted-medium' view mode.
 */

.node--view-mode-highlighted-medium {
  border: 1px solid #fcece7;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.node--view-mode-highlighted-medium .node__content {
  flex: 0 0 auto;
}

.node--view-mode-highlighted-medium .node__meta {
  padding: 1rem 1.5rem 0 1.5rem;
}

.node--view-mode-highlighted-medium .read-more {
  margin-top: auto;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.node--view-mode-highlighted-medium .node__title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.node--view-mode-highlighted-medium .field--name-title {
  font-family: 'Scope One', Georgia, serif;
  font-size: 1.424rem;
  font-weight: 400;
}

.node--view-mode-highlighted-medium .node__title .node__link {
  color: #000;
  text-decoration: none;
  background-color: inherit;
}

.node--view-mode-highlighted-medium .node__title .node__link:focus,
.node--view-mode-highlighted-medium .node__title .node__link:hover {
  color: #000;
  text-decoration: underline;
}

.node--view-mode-highlighted-medium .node__link .field--name-title {
  color: #000;
  text-decoration: none;
}

.node--view-mode-highlighted-medium .field--name-field-image img {
  display: block;
  width: 100%;
}

.node--view-mode-highlighted-medium .field--name-field-difficulty {
  color: #5f635d;
  font-size: 0.889rem;
  margin-bottom: 0.5rem;
}
