/**
 * @file
 * Component styles for the content_moderation module.
 */
.entity-moderation-form {
  list-style: none;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-align-items: flex-start; /* Safari */
  align-items: flex-start;
}

.entity-moderation-form__item {
  margin-right: 2em;
  display: table;
}

.entity-moderation-form__item:last-child {
  -webkit-align-self: flex-end; /* Safari */
  align-self: flex-end;
  margin-right: 0;
}

.entity-moderation-form .form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

.entity-moderation-form .form-item label {
  padding-bottom: 0.25em;
  display: table;
}

.entity-moderation-form input[type=submit] {
  margin-bottom: 1.2em;
}
