{#
/**
 * @file component.html.twig
 * Default theme implementation to present Component data.
 *
 * This template is used when viewing Component pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - type: The bundle machine name of the component.
 * - order: Zero indexed position of component in page (not per region)
 *
 * @see template_preprocess_component()
 *
 * @ingroup themeable
 */
#}
<section class="fifty-fifty-overlap">
  <div class="fifty-fifty-overlap-inner scroll-animate animated">
    {% if content.field_image.0 %}
      <div class="fifty-fifty-overlap-image" style="background-image: url('{{ content.field_image.0['#markup'] }}')"></div>
    {% endif %}
    <div class="fifty-fifty-overlap-content">
        {% if content.field_title.0 %}
          <h2 class="-accent-bar -sky-blue">{{ content.field_title }}</h2>
        {% endif %}
        {{ content.field_text }}
        {{ content.field_link }}
    </div>
  </div>
</section>
