{#
/**
 * @file component.html.twig
 * Default theme implementation to present Component data.
 *
 * This template is used when viewing Component pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - type: The bundle machine name of the component.
 * - order: Zero indexed position of component in page (not per region)
 *
 * @see template_preprocess_component()
 *
 * @ingroup themeable
 */
#}
<section class="awards-certifications scroll-animate">
  <div class="awards">
    {% if content.field_image.0 %}
      <div class="awards-certifications-image" style="background-image: url('{{ content.field_image.0['#markup'] }}')"></div>
    {% endif %}
    <h2>{{ content.field_title }}</h2>
    {{ content.field_text }}
    {{ content.field_link }}
  </div>
  <div class="certifications">
    {% if content.field_image_two.0 %}
      <div class="awards-certifications-image" style="background-image: url('{{ content.field_image_two.0['#markup'] }}')"></div>
    {% endif %}
    <h2>{{ content.field_title_two }}</h2>
    {{ content.field_text_two }}
    {{ content.field_link_two }}
  </div>
</section>
