{#
/**
 * @file component.html.twig
 * Default theme implementation to present Component data.
 *
 * This template is used when viewing Component pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - type: The bundle machine name of the component.
 * - order: Zero indexed position of component in page (not per region)
 *
 * @see template_preprocess_component()
 *
 * @ingroup themeable
 */
#}
<section class="generic-content-panel">
  <div class="generic-content-panel-inner">
    <div class="generic-content-panel-content wysiwyg">
      <iframe src="http://validatek.hrmdirect.com/employment/job-openings.php?search=true&amp;nohd=&amp;dept=-1&amp;city=-1&amp;state=-1" id="careers" style="height: 700px;"></iframe>
    </div>
  </div>
</section>
