{#
/**
 * @file component.html.twig
 * Default theme implementation to present Component data.
 *
 * This template is used when viewing Component pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - type: The bundle machine name of the component.
 * - order: Zero indexed position of component in page (not per region)
 *
 * @see template_preprocess_component()
 *
 * @ingroup themeable
 */
#}
<section class="testimonial scroll-animate">
  {% if content.field_image.0 %}
    <div class="testimonial-image" style="background-image: url('{{ content.field_image.0['#markup'] }}')"></div>
  {% endif %}
  <div class="testimonial-inner">
    <p class="testimonial-quote">{{ content.field_quote_text }}</p>
    <p class="testimonial-cite">{{ content.field_person }}</p>
    <p class="testimonial-cite-title">{{ content.field_title }}</p>
  </div>
</section>
