{#
/**
 * @file component.html.twig
 * Default theme implementation to present Component data.
 *
 * This template is used when viewing Component pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - type: The bundle machine name of the component.
 * - order: Zero indexed position of component in page (not per region)
 *
 * @see template_preprocess_component()
 *
 * @ingroup themeable
 */
#}
<section class="content-card-grid {{ content.field_style.0['#markup'] }}">
  {% if content.field_title.0 %}
    <h2 class="-accent-bar -centered">{{ content.field_title }}</h2>
  {% endif %}
  <div class="content-card-grid-inner">
    {{ content.field_content }}
  </div>
  {% if content.field_link.0 %}
    <div class="content-card-grid-cta">
      {{ content.field_link }}
    </div>
  {% endif %}
</section>
