{#
/**
 * @file component.html.twig
 * Default theme implementation to present Component data.
 *
 * This template is used when viewing Component pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - type: The bundle machine name of the component.
 * - order: Zero indexed position of component in page (not per region)
 *
 * @see template_preprocess_component()
 *
 * @ingroup themeable
 */
#}
<section class="partners">
  {% if content.field_title.0 %}
    <h2 class="partners-title -accent-bar -centered">{{ content.field_title }}</h2>
  {% endif %}
  <div class="partners-inner">
    {{ content.field_logos }}    
  </div>
</section>
