/**
 * @file
 * Styles for the system status counter component.
 */

.system-status-counter__status-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
.system-status-counter__status-icon:before {
  content: "";
  background-size: 16px;
  background-position: center 2px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}

.system-status-counter__status-icon--error:before {
  background-image: url(../../../../misc/icons/e32700/error.svg);
}
.system-status-counter__status-icon--warning:before {
  background-image: url(../../../../misc/icons/e29700/warning.svg);
}
.system-status-counter__status-icon--checked:before {
  background-image: url(../../../../misc/icons/73b355/check.svg);
}
