{#
/**
 * @file
 * Default theme implementation to display an item in a views OPML feed.
 *
 * Available variables:
 * - attributes: Attributes for outline element.
 *
 * @see template_preprocess_views_view_row_opml()
 *
 * @ingroup themeable
 */
#}
    <outline{{ attributes }}/>
