/**
 * @file
 * Visual styles for collapsible fieldsets.
 */

.collapse-processed > summary {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.collapse-processed > summary:before {
  background: url(../../../../misc/menu-expanded.png) 0 100% no-repeat; /* LTR */
  content: "";
  float: left; /* LTR */
  height: 1em;
  width: 1em;
}
[dir="rtl"] .collapse-processed > summary:before {
  background-position: 100% 100%;
  float: right;
}
.collapse-processed:not([open]) > summary:before {
  background-position: 25% 35%; /* LTR */
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
[dir="rtl"] .collapse-processed:not([open]) > summary:before {
  background-position: 75% 35%;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
