/**
 * @file
 * Styles for Classy's modal windows.
 */

.ui-dialog--narrow {
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .ui-dialog--narrow {
    max-width: 95%;
    min-width: 95%;
  }
}
