.toolbar-tray-horizontal .menu-item:hover {
  background: #fff;
}

.toolbar-tray-horizontal .menu-item a:focus {
  background: #abeae4;
}

.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  background-position: center right;
  background-image: url('../misc/icons/0074bd/chevron-right.svg');
  background-repeat: no-repeat;
}

.toolbar-tray-horizontal .menu-item--expanded .menu {
  background: #fff;
  width: auto;
  height: auto;
}

.toolbar-tray-horizontal .menu-item--expanded {
  background-color: #f5f5f2;
}

.toolbar-tray-horizontal ul li li.menu-item {
  border-top: none transparent;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

.toolbar .toolbar-tray-horizontal .menu-item:last-child {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
  border-top: 1px solid #dddddd;
}

.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  display: none;
  left: -999em; /* LTR */
}

/* Lists nested under hovered list items */
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul {
  display: block;
  left: auto; /* LTR */
}

.toolbar-tray-horizontal .menu ul li a,
.toolbar-tray-horizontal .menu ul .toolbar-icon {
  padding: 12px 15px 12px 12px;
}

.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  display: block;
  position: absolute;
  width: 200px;
  box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.4);
  z-index: 1;
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  display: none;
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded {
  background-position: center right;
  background-image: url('../misc/icons/0074bd/chevron-right.svg');
  background-repeat: no-repeat;
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  display: block;
  margin: -40px 0 0 197px;
}

.toolbar-tray-horizontal li:hover ul li {
  float: none;
}

.toolbar-tray-horizontal li.hover-intent ul li {
  float: none;
}

.toolbar-tray-horizontal .toolbar .level-2 > ul {
  position: absolute;
  padding-top: 0;
  top: 0;
  left: 200px;
  width: 200px;
}

.toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix {
  display: block;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item:hover {
  background: #fff;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item a:focus {
  background: #abeae4;
}

[dir="rtl"] .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus {
  background-position: center right;
  background-image: url('../misc/icons/0074bd/chevron-right.svg');
  background-repeat: no-repeat;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded .menu {
  background: #fff;
  width: auto;
  height: auto;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded {
  background-color: #f5f5f2;
}

[dir="rtl"] .toolbar-tray-horizontal ul li li.menu-item {
  border-top: none transparent;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal .menu-item:last-child {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
  border-top: 1px solid #dddddd;
}

[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  display: none;
  left: -999em; /* LTR */
}

/* Lists nested under hovered list items */
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul {
  display: block;
  left: auto; /* LTR */
}

[dir="rtl"] .toolbar-tray-horizontal .menu ul li a,
[dir="rtl"] .toolbar-tray-horizontal .menu ul .toolbar-icon {
  padding: 12px 15px 12px 12px;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  display: block;
  position: absolute;
  width: 200px;
  box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.4);
  z-index: 1;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  display: none;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded {
  background-position: center left;
  background-image: url('../misc/icons/0074bd/chevron-left.svg');
  background-repeat: no-repeat;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  display: block;
  margin: -40px 197px 0 0;
}

[dir="rtl"] .toolbar-tray-horizontal li:hover ul li {
  float: none;
}

[dir="rtl"] .toolbar-tray-horizontal li.hover-intent ul li {
  float: none;
}

[dir="rtl"] .toolbar-tray-horizontal .toolbar .level-2 > ul {
  position: absolute;
  padding-top: 0;
  top: 0;
  left: 200px;
  width: 200px;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix {
  display: block;
}
