/**
* @file
* This file is used to style the recipe using the 'full' view mode.
*/

.node--type-recipe.node--view-mode-full .field--name-field-summary,
.node--type-recipe.node--view-mode-full .field--name-field-recipe-instruction ol {
  /* Limit text width for legibility */
  max-width: 796px;
}

.node--type-recipe.node--view-mode-full .field--name-field-summary {
  max-width: 796px;
}

.node--type-recipe.node--view-mode-full .field--name-field-image {
  background-color: #fcece7;
  background-image: url(../../../../images/png/umami-background-pattern-1.png);
}

.node--type-recipe.node--view-mode-full .field--name-field-image img {
  display: block;
}

@media screen and (min-width: 786px) {
  .node--type-recipe.node--view-mode-full .field--name-field-image img {
    max-width: 796px;
  }
}

/* Icons for the recipe meta fields */
.node--type-recipe.node--view-mode-full .field--name-field-preparation-time,
.node--type-recipe.node--view-mode-full .field--name-field-cooking-time,
.node--type-recipe.node--view-mode-full .field--name-field-number-of-servings,
.node--type-recipe.node--view-mode-full .field--name-field-difficulty {
  align-items: center;
  min-height: 40px;
  margin-bottom: 0.96em;
  padding-left: 48px; /* LTR */
  background-repeat: no-repeat;
  background-position: left center; /* LTR */
  background-size: 40px 40px;
}
[dir=rtl] .node--type-recipe.node--view-mode-full .field--name-field-preparation-time,
[dir=rtl] .node--type-recipe.node--view-mode-full .field--name-field-cooking-time,
[dir=rtl] .node--type-recipe.node--view-mode-full .field--name-field-number-of-servings,
[dir=rtl] .node--type-recipe.node--view-mode-full .field--name-field-difficulty {
  background-position: right center;
  padding-left: 0;
  padding-right: 48px;
}
.node--type-recipe.node--view-mode-full .field--name-field-preparation-time {
  background-image: url(../../../../images/svg/knife.svg);
}
.node--type-recipe.node--view-mode-full .field--name-field-cooking-time {
  background-image: url(../../../../images/svg/timer.svg);
}
.node--type-recipe.node--view-mode-full .field--name-field-number-of-servings {
  background-image: url(../../../../images/svg/serves.svg);
}
.node--type-recipe.node--view-mode-full .field--name-field-difficulty {
  background-image: url(../../../../images/svg/difficulty.svg);
}
