{#
/**
 * @file
 * Theme for content grid.
 *
 * Available variables:
 * - items: Items in the grid.
 * - readMore: Read More link.
 *
 */
#}
<section class="content-card-grid">
  <div class="content-card-grid-inner">
    {{ items }}
  </div>

  {% if readMore %}
    <div class="content-card-grid-cta">
     {{ readMore }}
    </div>
  {% endif %}
</section>
