{#
/**
 * @file
 * Theme for content grid.
 *
 * Available variables:
 * - items: Items in the grid.
 * - readMore: Read More link.
 *
 */
#}
<section class="logo-grid">
  <div class="logo-grid-inner">
    {% for item in items %}
      <div class="logo-card">
        <div class="logo-card-image">
          {{ item.logo }}
        </div>
        <h6 class="logo-card-title">{{ item.title }}</h6>
      </div>
    {% endfor %}
  </div>
</section>
