{#
/**
 * @file
 * Theme for content grid.
 *
 * Available variables:
 * - items: Items in the grid.
 * - readMore: Read More link.
 *
 */
#}
<section class="people-grid">
  {% if header %}<h2 class="people-grid-title -accent-bar -centered">Leadership</h2>{% endif %}
  <div class="people-grid-inner">
    {{ items }}
  </div>
</section>
