{#
/**
 * @file
 * Default theme implementation for a two column layout.
 *
 * This template provides a two column display layout with full width areas at
 * the top, bottom and in the middle.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--twocol-bricks',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top %}
      <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top') }}>
        {{ content.top }}
      </div>
    {% endif %}

    {% if content.first_above %}
      <div {{ region_attributes.first_above.addClass('layout__region', 'layout__region--first-above') }}>
        {{ content.first_above }}
      </div>
    {% endif %}

    {% if content.second_above %}
      <div {{ region_attributes.second_above.addClass('layout__region', 'layout__region--second-above') }}>
        {{ content.second_above }}
      </div>
    {% endif %}

    {% if content.middle %}
      <div {{ region_attributes.middle.addClass('layout__region', 'layout__region--middle') }}>
        {{ content.middle }}
      </div>
    {% endif %}

    {% if content.first_below %}
      <div {{ region_attributes.first_below.addClass('layout__region', 'layout__region--first-below') }}>
        {{ content.first_below }}
      </div>
    {% endif %}

    {% if content.second_below %}
      <div {{ region_attributes.second_below.addClass('layout__region', 'layout__region--second-below') }}>
        {{ content.second_below }}
      </div>
    {% endif %}

    {% if content.bottom %}
      <div {{ region_attributes.bottom.addClass('layout__region', 'layout__region--bottom') }}>
        {{ content.bottom }}
      </div>
    {% endif %}
  </div>
{% endif %}
