/**
 * @file
 * Styling for the off-canvas ui dialog. Including overrides for jQuery UI.
 */

/* Style the dialog-off-canvas container. */
.ui-dialog.ui-dialog-off-canvas {
  background: #444;
  border-radius: 0;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3333);
  padding: 0;
  color: #ddd;
  /* Layer the dialog just under the toolbar. */
  z-index: 501;
}
.ui-widget.ui-dialog.ui-dialog-off-canvas {
  border: 1px solid transparent;
}

/* Style the off-canvas dialog header. */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  padding: 1em;
  background: #2d2d2d;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  font-weight: normal;
  color: #fff;
}
/* Hide the default jQuery UI dialog close button. */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close .ui-icon {
  visibility: hidden;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  background-image: url(../../../images/core/icons/bebebe/ex.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 3px solid transparent;
  height: 30px;
  width: 30px;
  position: absolute;
  top: calc(50% - 6px);
  right: 1em;
  transition: all 0.5s ease;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close:hover,
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close:focus {
  background-image: url(../../../images/core/icons/ffffff/ex.svg);
  border: 3px solid #fff;
}
[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  left: 1em;
  right: auto;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  margin: 0;
  /* Push the text away from the icon. */
  padding-left: 30px; /* LTR */
  padding-right: 0; /* LTR */
  /* Ensure that long titles do not overlap the close button. */
  max-width: 210px;
  font-size: 16px;
  font-family: "Lucida Grande", 'Lucida Sans Unicode', 'liberation sans', sans-serif;
  text-align: left; /* LTR */
}
[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  float: right;
  text-align: right;
  padding-left: 0;
  padding-right: 30px;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
  background: transparent url(../../../images/core/icons/ffffff/pencil.svg) no-repeat scroll center center;
  background-size: 100% auto;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  left: 1em; /* LTR */
  top: 0;
  width: 20px;
}
[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
  left: auto;
  right: 1em;
}

/* Override default styling from jQuery UI. */
#drupal-off-canvas .ui-state-default,
#drupal-off-canvas .ui-widget-content .ui-state-default,
#drupal-off-canvas .ui-widget-header .ui-state-default {
  border: 0;
  font-weight: normal;
  font-size: 14px;
  color: #333;
}
#drupal-off-canvas .ui-widget-content a {
  color: #85bef4;
}
