/**
 * @file
 * Visual styling for summary and details in the off-canvas dialog.
 */

#drupal-off-canvas details,
#drupal-off-canvas summary {
  display: block;
  font-family: "Lucida Grande", 'Lucida Sans Unicode', 'liberation sans', sans-serif;
}
#drupal-off-canvas details,
#drupal-off-canvas summary,
#drupal-off-canvas .ui-dialog-content {
  background: #474747;
  color: #ddd;
}
#drupal-off-canvas summary a {
  color: #ddd;
  padding-top: 0;
  padding-bottom: 0;
}
#drupal-off-canvas summary a:hover,
#drupal-off-canvas summary a:focus {
  color: #fff;
}
#drupal-off-canvas details,
#drupal-off-canvas summary,
#drupal-off-canvas .details-wrapper {
  border-width: 0;
  /* Cancel out the padding of the parent. */
  margin: 0 -20px;
  padding: 0 20px;
}
#drupal-off-canvas summary {
  text-shadow: none;
  padding: 10px 20px;
  font-size: 14px;
  transition: all 0.5s ease;
}
#drupal-off-canvas summary:hover,
#drupal-off-canvas summary:focus {
  background-color: #222;
}
#drupal-off-canvas details[open] {
  padding-bottom: 10px;
}
#drupal-off-canvas details[open] > summary {
  background-color: #333;
  color: #eee;
}
#drupal-off-canvas details[open] > summary:hover {
  background-color: #222;
  color: #fff;
}
#drupal-off-canvas details .placeholder {
  font: inherit;
  color: inherit;
  font-style: italic;
  background: transparent;
}
