/**
 * @file
 * This file is used to style the bottom region.
 */

.layout-bottom {
  background: #fff;
  padding: 2rem 1rem;
  overflow: hidden;
}

@media screen and (min-width: 75rem) {
  .layout-bottom {
    padding: 3rem 0;
  }
}
