.layout-region-node-footer__content {
  border-top: 1px solid #bebfb9;
  padding-top: 0.5em;
  margin-top: 1.5em;
}

/**
 * Widescreen
 *
 * Both of the following media queries must *exactly* match what is in
 * node.module.css. This is rather crazy.
 *
 * @todo Figure out how to reduce media query duplication across files
 *       and modules. Layout styles only allowed in themes?
 */
@media
  screen and (min-width: 780px),
  (orientation: landscape) and (min-device-height: 780px) {
  .node-form-layout .messages {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .layout-region-node-footer__content {
    margin-top: 0.5em;
  }
}
