/**
 * @file
 * Styling for toolbar warning message.
 */

.toolbar-warning {
  margin: 0.5em 0;
  padding: 0.5em 2em 0.5em 2.3333em;
  background: url(../../../../core/misc/icons/e29700/warning.svg) no-repeat center center transparent;
  background-size: auto 20px;
  text-indent: -1000px;
  overflow: hidden;
}

.toolbar-warning:hover {
  color: #000;
}

@media only screen and (min-width: 40em) {
  .toolbar-warning {
    padding-right: 1em;
    border-radius: 4px;
    border-color: #f4daa6;
    background-color: #fdf8ed;
    background-position: 0.5em center;
    background-size: auto 18px;
    text-indent: 0;
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
}
