{#
/**
 * @file
 * Default theme implementation to display help text for file fields.
 *
 * Available variables:
 * - descriptions: Lines of help text for uploading a file.
 *
 * @see template_preprocess_file_upload_help()
 *
 * @ingroup themeable
 */
#}
{{ descriptions|safe_join('<br />') }}
