/**
 * @file
 * Visual styling for forms in the off-canvas dialog.
 */

#drupal-off-canvas form {
  font-family: "Lucida Grande", 'Lucida Sans Unicode', 'liberation sans', sans-serif;
  color: #ddd;
}
#drupal-off-canvas input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
#drupal-off-canvas input[type="radio"] {
  -webkit-appearance: radio;
}
#drupal-off-canvas select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}
#drupal-off-canvas option {
  display: block;
  font-family: "Lucida Grande", 'Lucida Sans Unicode', 'liberation sans', sans-serif;
}
#drupal-off-canvas label {
  line-height: normal;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #ddd;
}
#drupal-off-canvas .visually-hidden {
  opacity: 0;
  height: 0;
  width: 0;
  letter-spacing: -2em;
}
#drupal-off-canvas .description,
#drupal-off-canvas .form-item .description,
#drupal-off-canvas .details-description {
  color: #ddd;
  margin-top: 5px;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
}
#drupal-off-canvas .form-item {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* Set size and position for all inputs. */
#drupal-off-canvas .form-select,
#drupal-off-canvas .form-text,
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time {
  box-sizing: border-box;
  max-width: 100%;
  padding: 6px;
  margin: 5px 0 0 0;
  border-width: 1px;
  border-radius: 2px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  color: #333;
  line-height: 16px;
}
/* Reduce contrast for fields against dark background. */
#drupal-off-canvas .form-text,
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  background-color: #eee;
  border-color: #333;
  color: #595959;
}
#drupal-off-canvas .form-text:focus,
#drupal-off-canvas .form-tel:focus,
#drupal-off-canvas .form-email:focus,
#drupal-off-canvas .form-url:focus,
#drupal-off-canvas .form-search:focus,
#drupal-off-canvas .form-number:focus,
#drupal-off-canvas .form-color:focus,
#drupal-off-canvas .form-file:focus,
#drupal-off-canvas .form-textarea:focus,
#drupal-off-canvas .form-date:focus,
#drupal-off-canvas .form-time:focus {
  border-color: #40b6ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.125), 0 0 8px #40b6ff;
  background-color: #fff;
}
#drupal-off-canvas td .form-item,
#drupal-off-canvas td .form-select {
  margin: 0;
}
#drupal-off-canvas .form-file {
  margin-bottom: 5px;
  width: 100%;
}
#drupal-off-canvas .form-actions {
  text-align: center;
  margin: 10px 0;
}
#drupal-off-canvas .ui-autocomplete {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
#drupal-off-canvas .ui-autocomplete li {
  display: block;
}
#drupal-off-canvas .ui-autocomplete li a {
  color: #595959 !important;
  cursor: pointer;
  padding: 5px;
}
