/**
 * @file
 * Visual styling for tables in the off-canvas dialog.
 */

#drupal-off-canvas table * {
  font-family: "Lucida Grande", 'Lucida Sans Unicode', 'liberation sans', sans-serif;
}
#drupal-off-canvas table {
  display: table;
  width: 100%;
  min-width: calc(100% + 40px);
  /* Cancel out the padding of the parent to make the table full width. */
  margin: 0 -20px -10px -20px;
  border: 0;
  border-collapse: collapse;
  font-size: 12px;
  color: #ddd;
}
#drupal-off-canvas table thead {
  display: table-header-group;
}
#drupal-off-canvas table tbody {
  display: table-row-group;
}
#drupal-off-canvas tr {
  display: table-row;
}
#drupal-off-canvas tr:hover td {
  background-color: transparent;
}

#drupal-off-canvas td,
#drupal-off-canvas th {
  display: table-cell;
  height: auto;
  width: auto;
  padding: 2px 8px;
  vertical-align: middle;
  border-bottom: 1px solid #777;
  background-color: transparent;
}
[dir="rtl"] #drupal-off-canvas th,
[dir="rtl"] #drupal-off-canvas td {
  text-align: right;
}
#drupal-off-canvas th {
  font-weight: bold;
}
#drupal-off-canvas th.checkbox,
#drupal-off-canvas td.checkbox {
  width: 20px;
  padding: 0;
  text-align: center;
}
#drupal-off-canvas div.checkbox.menu-enabled {
  position: static;
  display: inline;
  width: auto;
}
#drupal-off-canvas th:first-child,
#drupal-off-canvas td:first-child {
  width: 150px;
}
/* For lack of a better class, using this to grab the operations th. */
#drupal-off-canvas .tabledrag-has-colspan {
  text-align: right;
  padding-right: 20px;
}
#drupal-off-canvas td {
  padding: 6px 8px;
  color: #ddd;
}
/* Hide overflow with ellipsis for links. */
#drupal-off-canvas td a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;
}
#drupal-off-canvas tr td:first-child,
#drupal-off-canvas tr th:first-child {
  padding-left: 20px; /* LTR */
}
[dir="rtl"] #drupal-off-canvas tr td:first-child,
[dir="rtl"] #drupal-off-canvas tr th:first-child {
  padding-right: 20px;
}
