/**
 * @file
 * This file is used to style the contact form.
 */

.contact-form {
  margin: auto auto 1rem;
  max-width: 600px;
}

@media screen and (min-width: 30rem) { /* 480px */
  .contact-form {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 60rem) { /* 960px */
  .contact-form {
    margin-bottom: 3rem;
  }
}
.contact-form .form-item-copy {
  margin-bottom: 0;
}
.contact-form .form-item-copy .form-checkbox {
  margin: 0 5px 0 0;
  min-width: auto;
}
.contact-form .form-actions {
  display: block;
}

@media screen and (min-width: 30rem) { /* 480px */
  .contact-form .form-actions {
    display: inline-flex;
  }
}
.contact-form .form-actions .button {
  margin-left: 0;
}

@media screen and (min-width: 30rem) { /* 480px */
  .contact-form .form-actions .button {
    margin-left: 1em; /* LTR */
  }
  [dir=rtl] .contact-form .form-actions .button + .button {
    margin-right: 1em;
    margin-left: 0;
  }
}
