/**
 * @file
 * This file is used to create a 3 column grid layout.
 */

.grid--2 .views-row {
  margin-bottom: 28px;
  padding: 0 14px;
}

@media screen and (min-width: 30em) {
  .grid--2 {
    overflow-x: hidden;
  }
  .grid--2 .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .grid--2 .views-row {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 28px);
    margin: 0 14px 28px;
    padding: 0;
  }
}

/* 77em == the max width of .container + 1em either side */
@media screen and (min-width: 77em) {
  .grid--2 .view-content {
    margin-left: -14px;
    margin-right: -14px;
  }
}
