/**
 * @file
 * This file is used to create the layout when the theme has 2 columns.
 */
.layout-sidebar {
  margin: 0 1.562rem;
}

@media screen and (min-width: 60em) {
  .two-columns .main {
    display: flex;
    justify-content: space-between;
  }

  .two-columns .main .layout-content {
    flex: 1 1 75%;
  }

  .layout-sidebar {
    flex: 0 0 25%;
    min-width: 300px;
    width: 25%;
  }
}
