{#
/**
 * @file
 * Minimal template to ensure chained property access works with white-listing.
 */
#}
<article{{ attributes }}>

  <div>
    {{ node.field_term.entity.label }}
  </div>

</article>
