/**
 * @file
 * Administration styles for the Search API module.
 */

/*
 * Search API overview page
 */
.search-api-entity-list {
  margin-bottom: 2em;
}

.search-api-entity-list tr {
  border-bottom: none;
}

.search-api-list-server {
  border-top: 1px solid #e6e4df;
}

.search-api-list-index:last-of-type {
  border-bottom: 1px solid #e6e4df;
}

.search-api-list-server .search-api-type,
.search-api-list-server .search-api-title {
  font-weight: bold;
}

.search-api-list-index .search-api-type {
  padding-left: 3em;
}

.search-api-list-disabled .search-api-type,
.search-api-list-disabled .search-api-title {
  font-style: italic;
}

/*
 * Server view page
 */
.search-api-server-summary ul.inline {
  margin: 0;
}

.search-api-server-summary ul.inline li {
  padding-left: 0;
}

details .messages {
  margin-left: 20px;
  margin-right: 20px;
}

/*
 * Index summary page
 */
.search-api-index-status {
  margin-bottom: 6em;
}

/* Remove animation */
.search-api-index-status .progress__bar {
  background-image: none;
}

.search-api-index-summary {
  margin-bottom: 2em;
}

/*
 * Processors page
 */

.search-api-stage-wrapper.form-item {
  float: left;
  box-sizing: border-box;
  width: 32.66%;
  min-width: 17em;
  margin-right: 1%;
}

.search-api-stage-wrapper.form-item:last-child {
  margin-right: 0;
}

/*
 * Miscellaneous
 */
.search-api-checkboxes-list .form-checkboxes {
  max-height: 30em;
  overflow: auto;
}
