/**
 * @file
 * Styling for contextual module icons.
 */

/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-edit:before {
  background-image: url(../../images/core/icons/bebebe/pencil.svg);
}
.toolbar-bar .toolbar-icon-edit:active:before,
.toolbar-bar .toolbar-icon-edit.is-active:before {
  background-image: url(../../images/core/icons/ffffff/pencil.svg);
}

/**
 * Contextual trigger.
 */
.contextual .trigger {
  background-image: url(../../images/core/icons/bebebe/pencil.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  /* Override the .focusable height: auto */
  height: 26px !important;
  /* Override the .focusable height: auto */
  width: 26px !important;
  text-indent: -9999px;
}

.contextual .trigger:hover {
  background-image: url(../../images/core/icons/787878/pencil.svg);
}

.contextual .trigger:focus {
  background-image: url(../../images/core/icons/5181c6/pencil.svg);
  outline: none;
}
