{#
/**
 * @file
 * Template for an example 1 column layout.
 */
#}
<div{{ attributes.addClass('layout-example-1col', 'clearfix') }}>
  <div {{ region_attributes.top.addClass('region-top') }}>
    {{ content.top }}
  </div>
  <div {{ region_attributes.bottom.addClass('region-bottom') }}>
    {{ content.bottom }}
  </div>
</div>
