/**
 * @file
 * This file is used to style the pre-header.
 *
 * It styles the pre-header as a global component; it does not style individual
 * pre-header items, such as search, which are styled by their own CSS files.
 */

.region-pre-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e6eee0;
}

@media screen and (min-width: 48em) {
  .region-pre-header {
    padding: 0 1rem;
  }
}

/* 77em == the max width of .container + 1em either side */
@media screen and (min-width: 77em) {
  .region-pre-header {
    padding: 0;
  }
}
