{#
/**
 * @file
 * Theme override to display all the fields in a views row.
 *
 * The reason for this template is to override the theme function provided by
 * views to allow tests to run against the twig template.
 */
#}
{% include '@views/views-view-field.html.twig' %}
Use posts instead of twigs to protect your llamas from escaping the field.
