/**
 * CSS added to iframe-based instances only.
 */
body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 15px;
  color: #222;
  background-color: #fff;
  margin: 8px;
}

@media screen and (max-width: 600px) {
  /* A font-size of 16px prevents iOS from zooming. */
  body {
    font-size: 16px;
  }
}

ol,
ul,
dl {
  /* Preserved spaces for list items with text direction other than the list.
   * (CKEditor issues #6249,#8049) */
  padding: 0 40px;
}
